body{
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.navbar-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #373c3f;

}

.navbar-content a{
    padding-left: 20px;
    text-decoration: none;
    color: #999999;
}
.navbar-container .brand-container span{
    padding-left: 20px;
}



.navbar-container .brand-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-container img{
    width: 70px;
    height: 50px;
}


.dropdown{
    position: relative;
    display: inline-block;

}
.drop-btn{
    height: 40px;
    background: url('svg/menu.svg') 5px no-repeat;
    width: 43px;
}
.drop-btn:hover{
    background: url('svg/cross.png') 5px no-repeat;
}
.drop-btn:hover + .dropdown-content{
    display: block;
}
.dropdown-content{
    position: absolute;
    display: none;
    min-width: 220px;
    background-color: #fafafa;
    right: 0;
    margin: 0;
    z-index: 1;
}
.dropdown-content a {
    color: #999999;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {background-color: #f5f5f5;}



/*Images*/

.main-image {
    position: relative;
    display: inline-block;
    width: 100%;
    height: auto;
}

.main-image img {
    display: block;
    width: 100%;
    height: 100%;
}

.text-overlay {
    color: white;
    font-size: 4vw;
    position: absolute;
    top: 15vw;
    left: 25vw;
    transform: translate(-50%, -50%); /* прозорість тексту */
    padding: 10px;
    border-radius: 5px;
}



.image-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
    padding: 0;
    margin: 0;
    flex-wrap: wrap;
}
.image-list-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:0;
    margin:0;

}
.image-list-item img {
    display: flex;
    width: 100%;
    height: auto;

}
.image-list-item .image-text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 5px 10px;
    border-radius: 5px;
}
.image-btn{
    display: none;
    background-color: #acd8ad;
    width: 50px;
    height: 100px;
    padding: 5px;
}
/*Images*/
/*BODy*/


.full-menu-container{
    display: block;
}

.black-bar{
    background-color: #3f4043;
    width: 100%;
    padding: 10px 0;
    margin-bottom: 10px;
    font-size: 37px;
}
.green-bar{
    background-color: #acd8ad;
    width: 100%;
    padding: 10px 0;
    margin-bottom: 10px;
    font-size: 37px;
}
.black-bar span{
    color: #acd8ad;
    padding: 20px;
}
.green-bar span{
    color: white;
    padding: 20px;
}

.logo-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px;
}
.logo-bar span{
    font-size: 30px;
}
.logo-bar img{
    width: 50px;
    height: 50px;
}
.list-item span{
    font-size: 27px;
}
.price{
    font-weight: 700;
}
.description{
    font-size: 18px;
}
.menu-list{
    display:block;
    margin: 10px;
    padding: 10px;
    list-style: none;
}
.list-item{

}
.price-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.mid-bar{
    padding: 10px;
}
.mid-bar p{
    font-size: 40px;
    margin: 0;
}
.mid-bar .mini-text{
    font-size: 20px;
    color: #cbccce;
}
.main-logo-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top:40px;

}
/*BODy*/
/*Footer*/

footer {
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #acd8ad;
}
footer img{
    display: block;
    padding: 10px 20px;
}
footer div{
    padding-right: 20px;
}
footer span{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    color: white;
}
/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

@media screen and (min-width: 980px) {


    .navbar-container .brand-container .navbar-content {
        display: block;
    }

    .navbar-container .brand-container span {
        display: none;
    }
    .menu-container img{
        display: block;
    }
    .menu-container .dropdown{
        display: none;
    }
    /*Images*/

    .image-list {
        display: flex;
        width: 100%;
        overflow-x: hidden;
        list-style-type: none;
        padding: 0;
        margin: 0;
    }

    .image-list-item {
        flex: 1;
        height: auto;/* Кожен елемент займає рівно простір */
        display: flex;
        align-items: center; /* Вирівнюємо вміст по вертикалі */
        justify-content: center; /* Вирівнюємо вміст по горизонталі */ /* Додаємо маржу між елементами */
    }

    .item-container {
        position: relative;
        overflow: hidden;
    }

    .image-btn {
        display: none; /* Робимо кнопки невидимими */
    }


    /*
    BODY
    */

    .full-menu-container{
        display: flex;
    }
    .menu-part{
        flex: 1;
    }
    /*Footer*/


}
@media screen and (max-width: 980px) {
    .brand-container span{
        display: block;

    }
    .brand-container .navbar-content{
        display: none;
    }
    .brand-container span{
        color: #e4e5e5  ;
    }
    .menu-container img{
        display: none;
    }
    .menu-container .dropdown{
        display: block;
    }

    /* Images */

    .image-list {
        list-style-type: none;
        padding: 0;
        margin: 0;
        display: block /* Встановлення вертикального напрямку для списку */
    }

    .image-list-item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 1px/* Вирівнюємо фото та кнопку по вертикалі */
    }

    .item-container {
        flex: 1; /* Фото буде розтягнуте на залишок вільного простору */
        position: relative;
        overflow: hidden;
    }

    .image-btn {
        display: block;
        color: #e5f3e5;
        width: 20%; /* Кнопка займатиме 30% ширини */
        height: 19vw; /* Фіксована висота */
        line-height: 15vw; /* Вирівнюємо текст у кнопці по вертикалі */
        background-color: #acd8ad;
        text-align: center; /* Кнопка вирівнюється до правого краю */
    }

    .item-container img {
        width: 100%; /* Ширина фото */
        height: 20vw; /* Висота фото */
        object-fit: cover; /* Обрізання фото до розміру контейнера */
    }
    /*body*/

    .main-logo-container img{
        display: none;
    }

    /*footer*/
    footer{
        display: block;
        text-align: center;
    }
    footer img{
        display: none;
    }
    footer span{
        display: block;
        margin: 0 auto;
    }
    footer div{
        padding: 20px;
    }
}
@media screen and (max-width: 640px) {
    .black-bar{
        font-size: 20px;
    }
    .green-bar{
        font-size: 20px;
    }
    .logo-bar span{
        font-size: 15px;
    }
    .list-item span{
        font-size: 13.5px;
    }
    .description{
        font-size: 8.78px;
    }
    .mid-bar p{
        font-size: 17px;
    }
    .mid-bar .mini-text{
        font-size: 10px;
    }
    .logo-bar img{
        width: 25px;
        height: 25px;
    }
    .logo-bar{
        margin: 0 20px;
    }
    .menu-list{
        margin: 0 10px;
    }
    footer span{
        font-size: 12px;
    }
}