.black  {
    background-color: black!important;
}
.white  {
    background-color: white!important;
}
.invert-colors .black {
    background-color: white!important;
}

.invert-colors .white {
    background-color: black!important;
}